.linkWrapper {
   padding: 25px;
   border-right: 1px solid #f3f3f3;
   position: relative;


   .trash {
      color: #ea5e67;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
         font-size: 20px;
      }
   }

   &:hover {
      .addInfo {
         .icon {
            opacity: 1;
         }
      }
   }

   .addInfo {
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      opacity: 1;
      margin-top: 20px;
      gap: 5px;

      .icon {
         opacity: 0;
         cursor: pointer;
         font-size: 24px;
         color: #ea5e67;
         transition: all .3s linear;

         &:hover {
            color: #191919;
         }
      }
   }

   .item {
      position: relative;
      text-decoration: none;

      &:hover {
         .addInfo {
            opacity: 1;
            transition: opacity .5s linear;
         }
      }

      .center {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: nowrap;

         div {
            cursor: pointer;

            &:hover {
               opacity: .7;
            }
         }

         .itemImage {
            cursor: pointer;
            margin: 0 auto;

            &:hover {
               opacity: .7;
            }
         }
      }

      .itemName {
         margin-top: 15px;
         text-align: center;
         text-decoration: none;
         color: #191919;
         font-weight: bold;
         transition: .3s all linear;

         &:hover {
            color: #ea5e67;
         }
      }

      .cost {
         color: #ea5e67;
         font-size: 24px;
         text-align: center;
         margin-top: 10px;
         font-weight: 600;
      }
   }
}

.effect {
   cursor: pointer;

   &:hover {
      box-shadow: 0px 10px 10px rgba(0, 0, 0, .7);
      background-color: #fff;
   }
}