.section {
   margin-bottom: 145px;

   .userWrapper {
      max-width: 1240px;
      width: 100%;
      height: auto;
      margin: 0 auto;

      padding: 20px;

      .user {
         .title {}
      }
   }
}